.container{
    background-color: rgb(21, 10, 177);
    padding: 20px;
    align-items: center;
    
}

.scorecard{
    display: flex;
    justify-content: space-around; /* adds space between teams */
    background-color: rgb(21, 10, 177);
    padding: 20px;
}

#TeamA{
    color: aliceblue;
}

#scoreA{
padding: 10px;
background-color: black;
color: aliceblue;
font-size: 30px;

}

#TeamB{
    color: aliceblue;
}

#scoreB{
padding: 10px;
background-color: black;
color: aliceblue;
font-size: 30px;

}